.wrapper{
    width: 100%;
    position: relative;

}

.sections{
    position: absolute;
    display: flex;
    width: 21%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    left: 185px;
    top: 6px;
    z-index: 5;
}

.sections button{
    padding: 5px 15px;
    color: rgb(82, 82, 82);
    font-family: 'Baumans', cursive;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 300ms;
    border-radius: 5px;
}

.active{
    background-color: black !important;
    color: rgba(255, 255, 255, 0.897) !important;
}

.sections button:hover{
    transition: 300ms;
    background-color: rgba(0, 0, 0, 0.596);
    color: rgba(255, 255, 255, 0.897);
}