
.carousel_wrapper{
    width: 100%;
    height: 370px;
    position: relative;
    overflow: hidden;
}


.carousel{
    width: 100%;
    height: 270px;
}

.carousel_content{
    display: grid;
    grid-auto-flow: column;
    height: inherit;
    grid-template-columns: repeat(3,100%);
    transition: transform 0.4s ease-in-out;
}

.section{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.section p{
    margin: initial;
    color: gray;
    font-size: 20px;
}

.control{
    display: flex;
}

.control img{
    width: 20px;
    cursor: pointer;
}

#rotate{
    transform: rotate(180deg);
}

.sub_carousel{
    height: inherit;
    display: grid;
    grid-template-columns: repeat(5,18.5%);
    justify-content: space-between;

}





