.carousel_slide{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.img_wrapper{
    height: inherit;
    width: 100%;
    display: flex;
    transition: transform 0.4s ease-in-out;
    position: relative;
}

.movie_information{
    width: 100%;
}

.carousel_slide img{
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

label{
    font-size: 34px;
    z-index: 20;
    color: black;
    position: absolute;
    bottom: 70px;
    left: 480px;
    color: rgba(255, 255, 255, 0.897);
    font-family: 'Koulen', cursive;
    letter-spacing: 2px;
}

